<div id="floor_updates">
  <h4 class="section_title">Recent Floor Activity</h4>
  <table>
    <tr>
      <th>Chamber</th>
      <th>Bill #</th>
      <th>Update</th>
    </tr>
    <% @floor_updates.each do |update| %>
      <tr>
        <td class="capitalize"><%= update[:chamber] %></td>
        <td class="uppercase td_size"><% unless update[:bill_ids].empty? %>
              <% update[:bill_ids].each do |bill| %>
                <%= bill %>
              <% end %>
              <% else %>
                n/a
            <% end %>
        </td>
        <td><%= update[:update] %></td>
      </tr>
    <% end %>
  </table>
</div>