<footer>
  Information provided by the <a href="http://sunlightlabs.github.io/congress/index.html">Sunlight Congress API</a> using the <a href="http://rubygems.org/gems/congress">Congress gem</a>
</footer>