body {
  background-color: #D7D686;
}

a:link {
  color: #118BFF;
  text-decoration: none;
}

a:hover {
  color: #D7D686;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #9B000B;
  text-decoration: none;
}

#container {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#sign_in {
  width: 80%;
  top: 20px;
  left: 0;
  padding: 10px;
  color: white;
  background-color: #05396A;
  font-size: 12px;
  text-align: right;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #05396A;
  padding: 5px;
  width: 150px;
}

#upcoming {
  position: relative;
  border: 1px dotted;
  padding: 5px;
  width: 80%;
}

#floor_updates {
  position: relative;
  border: 1px solid blue;
  padding: 5px;
  width: 80%;
}