body {
  background-color: #D7D686;
}

a:link {
  color: #118BFF;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #4C0000;
  text-decoration: none;
}

#header {
  background-color: #4C0000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 30px;
  color: white;
  padding: 15px 10px 15px 10px;
  height: 100px;
}

#main {
  margin-top: 20px;
  margin-right: 170px;
  box-sizing: border-box;
}

#container {
  width: 90%;
  height: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#sign_in {
  width: 80%;
  top: 20px;
  left: 0;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #05396A;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  margin-right: 170px;
}

#sidebar {
  position: absolute;
  top: 130px;
  right: 0;
  background-color: #05396A;
  padding: 10px;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

#upcoming {
  position: relative;
  margin-top: 20px;
  padding: 5px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

#floor_updates {
  margin-top: 20px;
  position: relative;
  padding: 5px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

table th {
  background-color: #4C0000;
  font-size: 14px;
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #05396A;
  color: white;
  font-size: 14px;
}
table tr:nth-child(odd) {
  background-color: #9B000B;
  color: white;
  font-size: 14px;
  padding: 10px;
}

td {
  padding: 10px;
}

.section_title {
  color: #4C0000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.greeting {
  font-size: 14px;
}

.auth_link {
  text-align: right;
  font-size: 12px;
  margin-left: 20px;
}

.small_pic {
  border: 3px solid #D7D686;
  float: left;
  margin-right: 5px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.legislator_detail_sb {
  font-size: 12px;
  border-top: 1px solid #118BFF;
  overflow: hidden;
  margin-top: 5px;
}

.small_icon {
  border: 0;
  max-height: 24px;
}

footer {
  position: absolute;
  bottom: 0px;
  background-color: #05396A;
  color: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 90%;
  margin-top: 20px;
  padding: 5px;
}